@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-7 blockquote,
#chapter-9 blockquote{
	font-variant: small-caps;
}

#chapter-18 blockquote{
	font-variant: small-caps;
	text-align: center;
}

#chapter-18 blockquote p{
	text-indent: 0;
}

#chapter-18 blockquote p:first-child{
	font-size: larger;
	text-transform: uppercase;
}
