@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

#chapter-7-blockquote,
#chapter-9-blockquote{
	font-variant: small-caps;
}

#chapter-18-blockquote{
	font-variant: small-caps;
	text-align: center;
	line-height: 2em;
}

#chapter-18-blockquote p{
	text-indent: 0;
}

#chapter-18-blockquote p:first-child{
	font-size: 1.25em;
	text-transform: uppercase;
}
